In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField, StringType, IntegerType, TimestampType
from pyspark.sql.types import ArrayType, DoubleType, BooleanType
from pyspark.sql.functions import col,array_contains, regexp_replace, split, to_timestamp

spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

In [41]:
df = spark.read.csv("trips.csv", sep=';', header=True)

from pyspark.sql.functions import col,array_contains, regexp_replace, split, to_timestamp

df_treated =  df.withColumn("clean_origin", regexp_replace("origin_coord","POINT |\(|\)","")) \
                .withColumn("clean_destiny", regexp_replace("destination_coord","POINT |\(|\)",""))

df2 = df_treated.withColumn('origin_latitude', split(df_treated['clean_origin'], ' ').getItem(0).cast("float")) \
                .withColumn('origin_longitude', split(df_treated['clean_origin'], ' ').getItem(1).cast("float")) \
                .withColumn('destiny_latitude', split(df_treated['clean_destiny'], ' ').getItem(0).cast("float")) \
                .withColumn('destiny_longitude', split(df_treated['clean_destiny'], ' ').getItem(1).cast("float"))

df2 = df2.withColumn("trip_datetime", to_timestamp("datetime", "dd/MM/yyyy HH:mm"))

df2 = df2.drop('origin_coord', 'destination_coord','datetime','clean_origin','clean_destiny')

df2.show(10)

+-------+-------------------+---------------+----------------+----------------+-----------------+-------------------+
| region|         datasource|origin_latitude|origin_longitude|destiny_latitude|destiny_longitude|      trip_datetime|
+-------+-------------------+---------------+----------------+----------------+-----------------+-------------------+
| Prague|          funny_car|      14.497379|        50.00137|       14.431095|         50.04053|2018-05-28 09:03:00|
|  Turin|           baba_car|      7.6728377|       44.995712|        7.720369|        45.067825|2018-05-21 02:54:00|
| Prague|       cheap_mobile|      14.324273|        50.00002|       14.477679|          50.0934|2018-05-13 08:52:00|
|  Turin|bad_diesel_vehicles|       7.541509|       45.091606|       7.7452865|        45.026287|2018-05-06 09:49:00|
|  Turin|      pt_search_app|       7.614078|        45.13433|       7.5274973|         45.03335|2018-05-23 12:45:00|
|Hamburg|bad_diesel_vehicles|       10.07299|        53.62045|        9.789198|        53.463158|2018-05-15 09:13:00|
|Hamburg|          funny_car|       9.910278|       53.583862|       10.025579|         53.41207|2018-05-13 13:09:00|
|  Turin|       cheap_mobile|      7.5607853|       45.019016|       7.5835686|         45.10527|2018-05-06 00:00:00|
|  Turin|       cheap_mobile|       7.702418|        45.05755|       7.6232295|          44.9997|2018-05-14 02:07:00|
|Hamburg|       cheap_mobile|      10.052601|       53.534977|       10.058896|        53.494865|2018-05-04 00:46:00|
+-------+-------------------+---------------+----------------+----------------+-----------------+-------------------+
only showing top 10 rows

In [39]:
#set variable to be used to connect the database
database = "Jobsity"
table = "dbo.Trips"

#write the dataframe into a sql table
df2.write.mode("overwrite") \
    .format("jdbc") \
    .option("url", f"jdbc:sqlserver://localhost:1433;databaseName={database};integratedSecurity=true") \
    .option("dbtable", table) \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .save()